<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="assets/images/icon/favicon.ico" type="image/x-icon"/>
    <title>বাংলাদেশ (Bangladesh) জাতীয় ড্যাশবোর্ড | গণপ্রজাতন্ত্রী বাংলাদেশ সরকার | People's Republic of
        Bangladesh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link href="https://fonts.maateen.me/kalpurush/font.css" rel="stylesheet">
    <link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="https://corona.gov.bd/"><img src="assets/images/icon/corona-logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="dashboard.html"><i class="ti-dashboard"></i><span>ড্যাশবোর্ড</span></a>
                        </li>
                        <li>
                            <a href="dashboard.html"><i class="ti-settings"></i><span>সেটিংস</span></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <div class="search-box pull-right">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">

                        <ul class="breadcrumbs pull-left">
                            <li><a href="https://corona.gov.bd/">হোম</a></li>
                            <li><span>ড্যাশবোর্ড</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">

                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card purple-card">
                        <div class="card-body">
                            <h4 class="header-title pb-1">গত ১৪ দিনে পরীক্ষা</h4>
                            <div class="the-number">১৬৭,৪৭৭</div>
                            <div class="summary"><i class="fa fa-long-arrow-down text-success"></i> পূর্ববর্তী ১৪ দিনে
                                পরীক্ষার চেয়ে ৭,৮১৯ টি কম
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card purple-card">
                        <div class="card-body">
                            <h4 class="header-title pb-1">গত ১৪ দিনে আক্রান্ত</h4>
                            <div class="the-number">১৯,৫৭২</div>
                            <div class="summary"><i class="fa fa-long-arrow-down text-success"></i> পূর্ববর্তী ১৪ দিনে
                                আক্রান্তের চেয়ে ১,১৫১ জন কম
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card purple-card">
                        <div class="card-body">
                            <h4 class="header-title pb-1">গত ১৪ দিনে মৃত্যু</h4>
                            <div class="the-number">৩৩৬</div>
                            <div class="summary"><i class="fa fa-long-arrow-down text-success"></i> পূর্ববর্তী ১৪ দিনে
                                মৃত্যুর চেয়ে ৭৭ জন কম
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Social Campain area end -->
                <!-- Statistics area start -->
                <div class="col-lg-12 mt-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 mt-2">
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title">দৈনিক আক্রান্তের সংখ্যা</h4>
                                            <div class="the-number">
                                                ক্রমহ্রাসমান মহামারি
                                            </div>
                                            <h4 class="header-title">অবস্থাকে নির্দেশ করছে</h4>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> মহামারি শুরুর পর থেকে দেশজুড়ে সংক্রমিত রোগীর
                                                সংখ্যা
                                                নির্দেশ করছে। এখানে নীল বার গুলোতে দৈনিক সংক্রমণের সংখ্যা ও কমলা
                                                লাইনের মাধ্যমে ৫ দিনের গড় সংক্রমণের সংখ্যা নির্দেশ করছে।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="user-statistics"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Statistics area end -->
                <!-- Statistics area start -->
                <div class="col-lg-12 mt-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <h4 class="header-title text-center mb-3">দক্ষিণ এশিয়ার দেশগুলোতে পরীক্ষার
                                                তুলনা</h4>
                                            <div id="amlinechart2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title ">দক্ষিণ এশিয়ার দেশগুলোতে পরীক্ষার তুলনা</h4>
                                            <div class="the-number">
                                                অবস্থার উন্নতি নির্দেশ করছে
                                            </div>
                                            <h4 class="header-title">দক্ষিণ এশিয়ার দেশ গুলোতে দেখা যাচ্ছে যে, প্রতি
                                                হাজারে বাংলাদেশে ১০ জনের কোভিড-১৯ পরীক্ষা করা হয়। যা মায়ানমার ব্যতীত
                                                অন্যান্য প্রতিবেশী দেশের তুলনায় কম।</h4>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> দক্ষিণ এশিয়ার প্রতিবেশী দেশগুলোতে এখন পর্যন্ত
                                                প্রতি হাজারে কত জনের কোভিড-১৯ পরীক্ষা করা হয় তা দেখানো হয়েছে। তালিকায়
                                                শীর্ষে রয়েছে প্রতিবেশী দেশ ভারত যেখানে প্রতি হাজারে ৩৮ জনের কোভিড-১৯
                                                পরীক্ষা করা হয়। এমনকি পাকিস্তানও বাংলাদেশের তুলনায় এগিয়ে রয়েছে যেখানে
                                                প্রতি হাজারে প্রায় ১৩ জনের পরীক্ষা করা হয়।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Statistics area end -->
                <!-- Statistics area start -->
                <div class="col-lg-12 mt-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title ">সংক্রমণের ক্রমবর্ধমান পরিবর্তন</h4>
                                            <div class="the-number">
                                                অবস্থার ক্রমশ অবনতি<br> ইঙ্গিত করছে
                                            </div>
                                            <h4 class="header-title">রেখাটি তীর্যক অবস্থায় মহামারীটির ক্রমশ অবনতি ইঙ্গিত
                                                করছে। তবে যেখানে সমতল দেখা যাচ্ছে সে সময় (আগস্ট) থেকে অবস্থার উন্নতি
                                                নির্দেশ করছে।</h4>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> মহামারী শুরুর পর থেকে (মার্চ) সারাদেশে
                                                ক্রমবর্ধমান সংক্রমণের বিন্যাস।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="amlinechart5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Statistics area end -->
                <!-- Statistics area start -->
                <div class="col-lg-12 mt-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="amlinechart1"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title">অঞ্চল-ভিত্তিক দৈনিক আক্রান্তের সংখ্যা :</h4>
                                            <h4 class="header-title">যে বিভাগগুলোতে প্রতিদিনের সংক্রমণের সংখ্যা <br>ব্যাপকভাবে
                                                ওঠানামা করে সে
                                                বিভাগগুলোতে</h4>

                                            <div class="the-number">
                                                পরীক্ষার পরিমাণ ও তার গুণগতমানের দিকে <br>নজর দেওয়া প্রয়োজন।
                                            </div>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> মহামারি শুরুর পর থেকে দেশজুড়ে সংক্রমিত রোগীর
                                                এপ্রিল মাস থেকে প্রত্যেক বিভাগে প্রতিদিনে আক্রান্তের সংখ্যার ৫ দিনের গড়
                                                দেখানো হয়েছে। এখানে ঢাকা ও চট্টগ্রাম বিভাগে দৈনিক আক্রান্তের সংখ্যা
                                                অন্যান্য বিভাগের তুলনায় বেশি। তবে আশাব্যাঞ্জক দিক হচ্ছে, প্রত্যেক
                                                বিভাগেই দৈনিক আক্রান্তের হার নিম্নমুখী। কিন্তু গ্রাফে দেখা যাচ্ছে যে,
                                                জুলাই মাসের শুরুর দিকে আক্রান্তের সংখ্যা হঠাৎই কমে আসে। এর একটি সম্ভাব্য
                                                কারণ হচ্ছে, এ মাসেই কোভিড টেস্টের জন্য ফি আরোপ করা হয়। এরপর গত
                                                সেপ্টেম্বর মাস থেকে আক্রান্তের সংখ্যা সাময়িক বৃদ্ধি পেয়েছে। এর সম্ভাব্য
                                                একটি কারণ হচ্ছে, এ মাস থেকে গণপরিবহণ পূর্ণরূপে খুলে দেওয়া হয়।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Statistics area end -->
                <!-- Statistics area start -->
                <div class="col-lg-12 mt-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="invoice-head title-bg-style">
                                <div class="row">
                                    <div class="iv-left col-6 ">
                                        <h2 >পরীক্ষা পরিস্থিতি</h2>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style info-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="header-title ">
                                                জাতীয় পর্যায়ে দৈনিক পরীক্ষা ও আক্রান্তের তুলনা:
                                            </h4>
                                            <div class="the-number">
                                                অবস্থার ক্রমশ অবনতি<br> ইঙ্গিত করছে
                                            </div>
                                            <h4 class="header-title ">
                                                জাতীয় পর্যায়ে দৈনিক পরীক্ষা ও আক্রান্তের তুলনা: সেপ্টেম্বর মাস থেকে
                                                পরীক্ষার সংখ্যা অপরিবর্তীত থাকায় আক্রান্তের সংখ্যা হ্রাস পেয়েছে। তবে
                                                পরীক্ষার পরিমাণ আরও বৃদ্ধি করতে পারলে মহামারীটি আরও ভালভাবে পর্যবেক্ষণ
                                                করা সম্ভব হবে।
                                            </h4>
                                            <div id="ambarchart4"></div>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> হলুদ রেখাটি দৈনিক মোট পরীক্ষা (ডান অক্ষ থেকে
                                                বাম অক্ষ)) এবং কমলা রেখাটি দৈনিক মোট আক্রান্তের সংখ্যা (বাম থেকে ডান
                                                অক্ষ) নির্দেশ করছে। এখানে উল্লেখ্য যে, যদি লাইন দুটি একে অপরকে
                                                ঘনিষ্ঠভাবে অনুসরণ করে থাকে, তবে এটি ইঙ্গিত দেয় যে আক্রান্তের সংখ্যা
                                                পরীক্ষার সংখ্যা দ্বারা প্রভাবিত হয়। অর্থাৎ- কোভিড-১৯-এ শনাক্তকৃত
                                                আক্রান্তের সংখ্যা নির্ভর করছে এর পরীক্ষার সংখ্যার উপর। যাইহোক, যদি
                                                পরীক্ষার সংখ্যা বেশি হয় কিন্তু শনাক্তের সংখ্যা কম হয় তবে এর অর্থ হচ্ছে
                                                আমরা পর্যাপ্ত পরিমাণে টেস্ট করছি এবং আক্রান্তের হার ক্রমহ্রাসমান।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style info-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                            <h4 class="header-title ">গত ১৪ দিনে সংক্রমণের সংখ্যা ও টেস্ট পজিটিভিটি
                                                রেট</h4>
                                            <div class="the-number">
                                                অবস্থার ক্রমশ অবনতি<br> ইঙ্গিত করছে
                                            </div>
                                            <h4 class="header-title">টেস্ট পজিটিভিটি রেট ১২% থেকে কমে আসার প্রবণতা
                                                মহামারীটির ক্রমহ্রাসমান অবস্থাকে ইঙ্গিত করছে।</h4>
                                            <div id="ambarchart1"></div>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> চিত্রে উল্লিখিত হলুদ রঙের বারগুলো গত ২ সপ্তাহ
                                                ধরে প্রতিদিনকার সংক্রমণের সংখ্যা এবং লাল রেখাটি মোট পরীক্ষার বিপরীতে
                                                সংক্রমণের হার (টেস্ট পজিটিভিটি রেট) নির্দেশ করছে।Zqa
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ambarchart6"></div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title ">
                                                জাতীয় পর্যায়ে দৈনিক পরীক্ষা ও আক্রান্তের তুলনা:
                                            </h4>
                                            <div class="the-number">
                                                অবস্থার ক্রমশ অবনতি<br> ইঙ্গিত করছে
                                            </div>
                                            <h4 class="header-title ">
                                                জাতীয় পর্যায়ে দৈনিক পরীক্ষা ও আক্রান্তের তুলনা: সেপ্টেম্বর মাস থেকে
                                                পরীক্ষার সংখ্যা অপরিবর্তীত থাকায় আক্রান্তের সংখ্যা হ্রাস পেয়েছে। তবে
                                                পরীক্ষার পরিমাণ আরও বৃদ্ধি করতে পারলে মহামারীটি আরও ভালভাবে পর্যবেক্ষণ
                                                করা সম্ভব হবে।
                                            </h4>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> হলুদ রেখাটি দৈনিক মোট পরীক্ষা (ডান অক্ষ থেকে
                                                বাম অক্ষ)) এবং কমলা রেখাটি দৈনিক মোট আক্রান্তের সংখ্যা (বাম থেকে ডান
                                                অক্ষ) নির্দেশ করছে। এখানে উল্লেখ্য যে, যদি লাইন দুটি একে অপরকে
                                                ঘনিষ্ঠভাবে অনুসরণ করে থাকে, তবে এটি ইঙ্গিত দেয় যে আক্রান্তের সংখ্যা
                                                পরীক্ষার সংখ্যা দ্বারা প্রভাবিত হয়। অর্থাৎ- কোভিড-১৯-এ শনাক্তকৃত
                                                আক্রান্তের সংখ্যা নির্ভর করছে এর পরীক্ষার সংখ্যার উপর। যাইহোক, যদি
                                                পরীক্ষার সংখ্যা বেশি হয় কিন্তু শনাক্তের সংখ্যা কম হয় তবে এর অর্থ হচ্ছে
                                                আমরা পর্যাপ্ত পরিমাণে টেস্ট করছি এবং আক্রান্তের হার ক্রমহ্রাসমান।
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card">
                                        <div class="card-body purple-style">
                                            <div class="invoice-head">
                                                <div class="row">
                                                    <div class="iv-left col-6">
                                                        <h4 class="header-title text-center mb-3">দৈনিক আক্রান্তের
                                                            সংখ্যা</h4>
                                                    </div>
                                                    <div class="iv-right col-6 text-md-left">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label>From</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label>To</label>
                                                                    <input class="form-control form-control-sm"
                                                                           type="date"
                                                                           placeholder=".form-control-sm">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ambarchart2"></div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body info-style">
                                            <h4 class="header-title ">গত ১৪ দিনে সংক্রমণের সংখ্যা ও টেস্ট পজিটিভিটি
                                                রেট</h4>
                                            <div class="the-number">
                                                অবস্থার ক্রমশ অবনতি<br> ইঙ্গিত করছে
                                            </div>
                                            <h4 class="header-title">রটেস্ট পজিটিভিটি রেট ১২% থেকে কমে আসার প্রবণতা
                                                মহামারীটির ক্রমহ্রাসমান অবস্থাকে ইঙ্গিত করছে।</h4>
                                            <div class="alert mt-3 p-0 text-justify" role="alert">
                                                <strong>বর্ণনা:</strong> চিত্রে উল্লিখিত হলুদ রঙের বারগুলো গত ২ সপ্তাহ
                                                ধরে প্রতিদিনকার সংক্রমণের সংখ্যা এবং লাল রেখাটি মোট পরীক্ষার বিপরীতে
                                                সংক্রমণের হার (টেস্ট পজিটিভিটি রেট) নির্দেশ করছে।Zqa
                                            </div>
                                            <p class="footer-note">
                                                বিগত ১৪ দিনের তথ্যের ভিত্তিতে <br>(১৬/০৮/২০২০ হতে ০১/০৮/২০২০) <br>তথ্য
                                                সূত্র: DGH,BBS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Statistics area end -->
            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>কপিরাইট © ২০২০ <a href="#">কাভিড-১৯, জাতীয় ড্যাশবোর্ড</a>। সকল অধিকার সংরক্ষিত। </p>
        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->
<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#settings">Settings</a></li>
    </ul>
    <div class="offset-content tab-content">
        <div id="activity" class="tab-pane fade in show active">
            <div class="recent-activity">
                <div class="timeline-task">
                    <div class="icon bg1">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Added</h4>
                        <span class="time"><i class="ti-time"></i>7 Minutes Ago</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>You missed you Password!</h4>
                        <span class="time"><i class="ti-time"></i>09:20 Am</span>
                    </div>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="fa fa-bomb"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Member waiting for you Attention</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="ti-signal"></i>
                    </div>
                    <div class="tm-title">
                        <h4>You Added Kaji Patha few minutes ago</h4>
                        <span class="time"><i class="ti-time"></i>01 minutes ago</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg1">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Ratul Hamba sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Hello sir , where are you, i am egerly waiting for you.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg2">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="fa fa-bomb"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
                <div class="timeline-task">
                    <div class="icon bg3">
                        <i class="ti-signal"></i>
                    </div>
                    <div class="tm-title">
                        <h4>Rashed sent you an email</h4>
                        <span class="time"><i class="ti-time"></i>09:35</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
                    </p>
                </div>
            </div>
        </div>
        <div id="settings" class="tab-pane fade">
            <div class="offset-settings">
                <h4>General Settings</h4>
                <div class="settings-list">
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Notifications</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch1"/>
                                <label for="switch1">Toggle</label>
                            </div>
                        </div>
                        <p>Keep it 'On' When you want to get all the notification.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show recent activity</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch2"/>
                                <label for="switch2">Toggle</label>
                            </div>
                        </div>
                        <p>The for attribute is necessary to bind our custom checkbox with the input.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show your emails</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch3"/>
                                <label for="switch3">Toggle</label>
                            </div>
                        </div>
                        <p>Show email so that easily find you.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Show Task statistics</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch4"/>
                                <label for="switch4">Toggle</label>
                            </div>
                        </div>
                        <p>The for attribute is necessary to bind our custom checkbox with the input.</p>
                    </div>
                    <div class="s-settings">
                        <div class="s-sw-title">
                            <h5>Notifications</h5>
                            <div class="s-swtich">
                                <input type="checkbox" id="switch5"/>
                                <label for="switch5">Toggle</label>
                            </div>
                        </div>
                        <p>Use checkboxes when looking for yes or no answers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offset area end -->
<!-- jquery latest version -->
<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- start amcharts -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- all line chart activation -->
<script src="assets/js/line-chart.js"></script>
<!-- all pie chart -->
<script src="assets/js/pie-chart.js"></script>
<!-- all bar chart -->
<script src="assets/js/bar-chart.js"></script>
<!-- all map chart -->
<script src="assets/js/maps.js"></script>
<!-- others plugins -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/scripts.js"></script>
</body>

</html>
