<IfModule mod_rewrite.c>
 
    RewriteEngine on
 
    RewriteRule ^([a-z]+)\/?$ $1.php [NC]
	
	RewriteRule ^([a-z-]+)\/?$ $1.php [NC]
     
    #RewriteRule ^([0-9]+)\/?$ parameter_number.php?param=$1 [NC]
     
    #RewriteRule ^([0-9_]+)\/?$ parameter_number_and_underscore.php?param=$1 [NC]
     
</IfModule>