
/*new css 18 aug start*/

.top-cards .col-xl-2{padding-right: 0.35rem; padding-left: 0.35rem; max-width: 10%;}
.top-cards .col-xl-2 p,
.top-cards .col-xl-2 small{ font-size: 10px;}
.side-menu__item{padding: 2.5px 10px 3px 5px;}
.top-cards .card-body {padding: .5rem .5rem;}
.top-cards .dash1-card .ratio {
    right: 0px;
    top: 30px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.header .form-inline .form-control.header-search { width: 150px;}
.header .panel .dropdown-menu[x-placement^="bottom"]{ top: 0px !important;}
.header .panel .form-control[name^="from_date"],
.header .panel .form-control[name^="to_date"]{ width: 165px;}

.fa-download:before,
.fa-table:before{font-size: 22px; font-weight: normal;}

#case_analysis_dtable_wrapper .row:first-child {display: none;}
#case_analysis_dtable_paginate {float: right;}
.card-body .table-responsive{overflow-x: hidden;}

.risk-zone-analysis .top-zone .card,
.risk-zone-analysis .last-zone-status .card{ background-color: #e7e7e7;}

.text-ash{ color: #989898;}

.bg-before-none::before{ background-color: transparent;}

.cart-height-customize{ min-height: 1rem !important;}

#color-group .colorinput-color{ width: 1rem; height: 1rem;}

#color-group .group-color-label{position: relative; top: -3px; font-size: 12px;}

.dataTable thead th{ text-transform: capitalize !important;}

/*new css 18 aug end*/

.dataTables_paginate{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
	float: right;
}

.dataTables_paginate .paginate_button {
	/*color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;*/
	position: relative;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
	font-size: 0.875rem;
    line-height: 1.5;
}

.dataTables_paginate .paginate_button:hover,
.dataTables_paginate .paginate_button.current{
	z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
	cursor: pointer;
}

.dataTables_paginate .paginate_button.previous.disabled,
.dataTables_paginate .paginate_button.next.disabled{
	color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.modal-dialog .modal-body .highcharts-container{margin: auto;}
.modal-dialog .modal-header {background:#DDDDDD;}
.modal-dialog .modal-header .modal-title{font-size: 20px;}

.label-success {
    padding: 5px;
    color: #fff;
}

.select2-container--default {
    width: 100% !important;
    max-width: 500px !important;
}
.info-box{
    height: 85px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    margin: 0px auto 16px;
    padding: 15px 0;
    transition: box-shadow 0.25s ease 0s;
    text-align: center;
}
.info-box h4 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 3px;
}
.info-box .num-style {
    font-size: 24px;
    font-weight: bold;
}
/*New Added*/
.top-cards .col-xl-2{padding-right: 0.35rem; padding-left: 0.35rem; max-width: 10%;}
.top-cards .col-xl-2 p,
.top-cards .col-xl-2 small{ font-size: 10px;}
.side-menu__item{padding: 2.5px 10px 3px 5px;}
.top-cards .card-body {padding: .5rem .5rem;}
.top-cards .dash1-card .ratio {
    right: 0px;
    top: 30px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.header .form-inline .form-control.header-search { width: 150px;}
.header .panel .dropdown-menu[x-placement^="bottom"]{ top: 0px !important;}
.header .panel .form-control[name^="from_date"],
.header .panel .form-control[name^="to_date"]{ width: 165px;}

.fa-download:before,
.fa-table:before{font-size: 22px; font-weight: normal;}

#case_analysis_dtable_wrapper .row:first-child,
#dtable_popup_wrapper .row:first-child {display: none;}
#case_analysis_dtable_paginate {float: right;}
.card-body .table-responsive{overflow-x: hidden;}

.risk-zone-analysis .top-zone .card,
.risk-zone-analysis .last-zone-status .card{ background-color: #e7e7e7;}

.text-ash{ color: #989898;}

.bg-before-none::before{ background-color: transparent;}

.cart-height-customize{ min-height: 1rem !important;}

#color-group .colorinput-color{ width: 1rem; height: 1rem;}

#color-group .group-color-label{position: relative; top: -3px; font-size: 12px;}

.dataTable thead th{ text-transform: capitalize !important;}

.calender-highlight a {
    background: #ef4b4b !important;
    color: #fff !important;
}

.b1{font-family: 'SolaimanLipi' !important;}

body{color: #000 !important;}

.card-title{font-size: 20px !important; font-weight: normal !important;}
