.top-cards .col-xl-2{padding-right: 0.35rem; padding-left: 0.35rem; max-width: 12.5%;}
.top-cards .col-xl-2 p,
.top-cards .col-xl-2 small{ font-size: 10px;}
.side-menu__item{padding: 2.5px 10px 3px 5px;}
.card-body {padding: .75rem .75rem;}

.header .form-inline .form-control.header-search { width: 150px;}
.header .panel .dropdown-menu[x-placement^="bottom"]{ top: 0px !important;}
.header .panel .form-control[name^="from_date"],
.header .panel .form-control[name^="to_date"]{ width: 165px;}

.fa-download:before{font-size: 18px; font-weight: normal; color: #f15c5c;}
.fa-table:before{font-size: 18px; font-weight: normal; color: #26ab72;}

#case_analysis_dtable_wrapper .row:first-child {display: none;}
#case_analysis_dtable_paginate {float: right;}
.card-body .table-responsive{overflow-x: hidden;}

.risk-zone-analysis .top-zone .card,
.risk-zone-analysis .last-zone-status .card{ background-color: #e7e7e7;}